<section class="page-section" id="about">
    <div class="container">
        <div class="text-center mb-5">
            <h2 class="section-heading text-uppercase">Hakkımızda</h2>
        </div>
        <div class="about">
            <p class="text-muted">Alp sentetik olarak üretim faaliyetlerimizi tamamen bu işe yönelik kurulan Kocaeli'deki üretimhanemizde gerçekleştirmekteyiz.</p>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/1.jpg"
                        alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="subheading">Vizyonumuz</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Kaliteli ve temiz işçiliği Türkiye'nin yanı sıra tüm dünyada müşteriyle buluşturan; müşterilerin kendini iyi hissedeceği ve güvenle alışveriş yapabileceği ortamı sunarak, sektöründe en çok tercih edilen ve beğenilen marka olmaktır.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/2.jpg"
                        alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="subheading">Misyonumuz</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">En doğru fiyat-kalite oranını sağlayarak, temiz ve ahlaklı çalışma sürdürerek geniş ürün yelpazesiyle müşteri beklentilerini en üst seviyede karşılamaktır.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Hikayemize
                        <br />
                        Ortak
                        <br />
                        Olun!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>