<footer class="footer py-4 bg-dark text-light ">
    <div class="row align-items-center">
        <div class="col-md-3 p-3">
            <a routerLink="/home"><img src="assets/img/logo.png" style="height: 60px;"></a>
            <h2 style="user-select: none;" class="fst-italic">TEMİZ VE GÜVENİLİR BİGBAG ÇUVAL</h2>
        </div>
        <div class="col-md-5 p-3">
            <ul class="footer text-uppercase ms-auto py-4 py-lg-0">
                <li><a routerLink="/about">KURUMSAL</a></li>
                <li><a routerLink="/products">ÜRÜNLER</a></li>
                <li><a routerLink="/contact">İLETİŞİM</a>
                </li>
            </ul>
        </div>
        <div class="contact col-md-4 p-3 text-center">
            <div class="d-flex">
                <mat-icon>call</mat-icon><br>
                <a href="https://wa.me/905378280347">
                    <h3>&ensp;0537 828 03 47</h3>
                </a>
            </div>
            <div class="d-flex">
                <mat-icon>mail</mat-icon>
                <a href="mailto:info@alpsentetik.com">
                    <h3>&ensp;info@alpsentetik.com</h3>
                </a>
            </div>
            <div class="d-flex">
                <mat-icon>map</mat-icon>
                <p>&ensp;BALÇIK MAH MUSTAFA KEMAL CAD No:64
                    <br>GEBZE/ Kocaeli / Türkiye
                </p>
            </div>
        </div>
    </div>
    <div class="textwidget text-center">
        <p style="user-select: none;">Copyright &copy; 2022 |
            All rights reserved.</p>
    </div>
</footer>