<section class="page-section" id="contact">
    <div class="container">
        <div class="text-center m-5">
            <h1 style="user-select: none;" class="section-heading text-uppercase">BİZİMLE İLETİŞİME GEÇİN</h1>
        </div>
        <form id="contactForm" data-sb-form-api-token="API_TOKEN">
            <div class="row align-items-stretch mb-5">
                <div class="col-md-6">
                    <div class="form-group">
                        <!-- Name input-->
                        <h4 style="user-select: none;" class="section-heading text-uppercase fst-italic">ADRES: </h4>
                        <h4 class="section-heading text-uppercase ">BALÇIK MAH MUSTAFA KEMAL CAD No:64
                            GEBZE/ Kocaeli / Türkiye</h4>
                    </div>
                    <div class="form-group">
                        <!-- Email address input-->
                        <h4 style="user-select: none;" class="section-heading text-uppercase fst-italic">EMAIL: </h4>
                        <h4 class="section-heading text-lowercase text-decoration-underline">info@alpsentetik.com
                        </h4>
                    </div>
                    <div class="form-group mb-md-0">
                        <!-- Phone number input-->
                        <h4 style="user-select: none;" class="section-heading text-uppercase fst-italic">TELEFON: </h4>
                        <h4 class="section-heading text-uppercase text-decoration-underline">05378280347</h4>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-group-textarea mb-md-0">
                        <iframe class="map"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3016.696930567102!2d29.43457121541011!3d40.87852477931418!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x82603c931cc5e7e9!2zNDDCsDUyJzQyLjciTiAyOcKwMjYnMTIuMyJF!5e0!3m2!1str!2str!4v1662145377575!5m2!1str!2str"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>